h1 {
    font-size: 36px;
    font-family: 'Julius Sans One', sans-serif;
    margin: 0 auto;
    margin-top: 50px;
}
h2 {
    font-family: 'Julius Sans One', sans-serif;
    font-size: 26px;
    padding-bottom: 5px;
}
button{
    font-family: 'Julius Sans One', sans-serif;
    background-color: #ffffff;
    color: black;
    border: solid;
    border-width: 1px;
    border-radius: 2px;
    font-size: 21px;
    width: 300px;
    margin: 2px;
}
  
button:hover {
    background-color: #eeeeee;
    color: black;
}

#timer{
    font-family: 'Julius Sans One', sans-serif;
    font-size: 26px;
}
#question{
    font-family: 'Julius Sans One', sans-serif;
    font-size: 21px;
}
.main-container{
    border-style: none;
    border-width: 1px;
    border-color: black;
    margin: 0 auto;
    margin-top: 5px;
    padding-top: 25px;
    padding-bottom: 25px;
    max-width: 576px;
}
/* body{
    margin: 0 auto;
} */