h1 {
    font-size: 100px;
}
h2 {
    font-size: 50px;
}
button{
    background-color: #dddddd;
    color: black;
    border: none;
    border-radius: 5px;
    font-size: 35px;
    width: 250px;
    margin: 5px;
}
  
button:hover {
    background-color: #555555;
    color: white;
}

#timer{
    font-size: 50px;
}
#question{
    font-size: 50px;
}
.container{
    border-style: solid;
    border-width: 2px;
    border-color: black;
    margin: 0 auto;
    margin-top: 25px;
}
/* body{
    margin: 0 auto;
} */