h1 {
    font-size: 50px;
    font-family: 'Julius Sans One', sans-serif;
    margin: 0 auto;
    margin-top: 50px;
}
h2 {
    font-family: 'Julius Sans One', sans-serif;
    font-size: 50px;
}
button{
    font-family: 'Julius Sans One', sans-serif;
    background-color: #ffffff;
    color: black;
    border: solid;
    border-width: 1px;
    border-radius: 5px;
    font-size: 35px;
    width: 350px;
    margin: 5px;
}
  
button:hover {
    background-color: #eeeeee;
    color: black;
}

#timer{
    font-family: 'Julius Sans One', sans-serif;
    font-size: 32px;
}
#question{
    font-family: 'Julius Sans One', sans-serif;
    font-size: 32px;
}
.main-container{
    border-style: solid;
    border-width: 1px;
    border-color: black;
    margin: 0 auto;
    margin-top: 25px;
    padding-top: 15px;
    padding-bottom: 15px;
}
/* body{
    margin: 0 auto;
} */